@font-face {
    font-family: "GloberBoldFree";
    src: url("/style/fonts/Glober SemiBold Free.otf");
}

body > header{
	height:242px;
	width:1900px;
	margin: 0 auto;
}
body > header .container .basket{
	font-size:14px;
	color:#333333;
}
	body > header .container .basket_img{
		background:rgba(0, 0, 0, 0) url("/wp-content/themes/onikiforova/style/temp_img/basket.png") no-repeat scroll 0 100% / 10% auto  ;
		padding-left: 25px;
	}
	body > header .container .connect .item{
		background:#39b09c ;
		height:62px;
		border-right:1px solid white;
	}
		body > header .container .connect .item.mail{
			background:#39b09c  url("/wp-content/themes/onikiforova/style/temp_img/mail.png") no-repeat scroll 50% 50% / 50% auto ;
		}
		body > header .container .connect .item.find{
			background:#39b09c  url("/wp-content/themes/onikiforova/style/temp_img/find.png") no-repeat scroll 50% 50% / 50% auto ;
		}
		body > header .container .connect .item.social{
			background:#39b09c  url("/wp-content/themes/onikiforova/style/temp_img/social.png") no-repeat scroll 50% 50% / 50% auto ;
		}
body > header .navbar-nav > li{
	border-right: 1px solid #25ccb2;
}
body > header nav{
	background:#39B09C;
	/*height:67px;*/
	margin: 0 auto;
    width: 1900px;
	
}
body > header nav .navbar-nav {
	margin-top: 0px;
}
.aboutMe{
    /* width: 1900px; */
    margin: 0 auto;
    height: 742px;
    background: url('/wp-content/themes/onikiforova/style/temp_img/bg-about.jpg') no-repeat top center;
}

.clients{
	width:1900px;
	margin:0 auto;
	text-align:center;
}
.basket-box{
	padding-top:25px;
}

.nav-collapse {
	z-index:9999;
}

.news-video{
	width:1900px;
	margin:0 auto;
	 
	background:#F5F5F5;
	padding-top:49px;
	padding-bottom:67px;
}
	.news-video .container h2{
		font-size:30px;
		font-family:Tahoma;
		font-weight:100;
		color:#339999;
		margin-bottom: 30px;
	}
	.news-video .container h3{
		font-size:18px;
		margin-top: 0px;
		font-weight:600;
		margin-bottom: 0px;
		color:#333333;
	}
	.news-video .container  .news-text{
		margin-left: -15px;
	}
	.news-video .container  .news-text time{
		font-size:12px;
		color:#999999;
	}
		.news-video .container img{
			width:80%;
		}
	.news-video .container p{
		font-size:14px;
		
	}
.pt-15{
	padding-top:15px;
}
.aboutMe .container{
	color:white;
	font-size:16px;
}
	.aboutMe .container ul.small{
		padding-left:15px;
		padding-top:12px;
	}
	.aboutMe .container ul.small li{
		font-family:Tahoma;
		font-size:16px;
		list-style-type:'- ';
	}
	.aboutMe .container ul.big{
		padding-left: 40px;
		padding-top: 11px;
	}
	.aboutMe .container ul.big li{
		font-size:24px;
		list-style:url('/wp-content/themes/onikiforova/style/temp_img/ok.png');
	}
	.aboutMe h2,
	.review h2,
	.clients h2{
		font-size:30px;
		font-family:Tahoma;
		font-weight:100;
		color:#339999;
		text-transform:uppercase;
	}
	.review h2 {
		text-align:center;
		margin-top: 58px;
		margin-bottom: 52px;
	}
	.clients h2{
		margin-bottom: 51px;
		margin-top: 56px;
	}
	.review .container h3{
		color:#339999;
		font-size:24px;
		margin-top: 0px;
	}
	.review .container p.review-info{
		font-size:14px;
		margin-bottom: 3px;
	}
		.review .container .review-text p{
			margin-bottom: 0px;
		}
		.review .container .review-text{
			font-size: 16px;
			padding-top: 15px;
		}
		.review .container .review-text ul{
			margin-bottom: 0px;
		}
		.review .container .review-text ul li{
			list-style-type:'- ';
		}
		.review .container  .read-more{
			color:#339999;
			font-size:14px;
			text-decoration:underline;
			display: block;
    padding-top: 10px;
		}
		.review .hr{
			border-bottom:1px dashed #39B09C;
			width:1900px;
			margin:0  auto;
			position: relative;
			text-align: center;
		}
			.review .hr input.green{
				top: -18px;
				position: absolute;
				width: 130px;
				margin-left: -71px;
			}
.btn.green{
	border-radius:0;
	border-color:#39B09C;
	background:#39B09C;
	padding-left: 15px; padding-right: 15px;
}

.t-cover {
	
	    height: 700px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}


h1 {
	    color: #fb0107;
    font-size: 24px;
    text-transform: uppercase;
    margin: 65px 0;
}

.banner-box .banner{
	height:939px;
	width:1900px;
	background:url('/wp-content/themes/onikiforova/style/temp_img/banner.jpg') no-repeat  0% 1%/100%  ;
	margin: 0 auto;
	position:relative;
}
 .banner2{
    height: 930px !important;
    width: 1900px;
    background: url('/wp-content/themes/onikiforova/style/temp_img/banner-img-1.jpg') no-repeat top center;
    margin: 0 auto;
    position: relative;
}

	.banner2 .banner-text p.banner-title{
    color: #ea2e27;
    line-height: 66px;
    font-size: 66px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ea2e27;
	}
.banner2 .banner-text p {
    font-size: 28px;
    line-height: 30px;
    width: 800px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: tahoma;
	}
	
.banner2 .banner-text input {
	margin-top: 90px;
	background:#ec3f38;
	padding: 15px 30px;
	border-radius:0;
}
	.banner-box .banner .banner-text {
			position:absolute;
			font-size:60px;
			font-family:Tahoma;
			text-transform:uppercase;
			color:white;
			font-weight:600;
			width: 550px;
			top: 317px;
			left: 305px;
			line-height: 73px;
	}
	
		.banner-box .banner-text {
			position:absolute;
			font-size:60px;
			font-family:Tahoma;
			text-transform:uppercase;
			color:white;
			font-weight:600;
			width: 750px;
			top: 317px;
	}
	
		.banner2 .banner-text {
			top: 257px;
	}	


 .banner3{
    height: 930px !important;
    width: 1900px;
    background: url('/wp-content/themes/onikiforova/style/temp_img/banner-img-3.jpg') no-repeat top center;
    margin: 0 auto;
    position: relative;
}

	.banner3 .banner-text p.banner-title{
color: #ea2e27;
    line-height: 66px;
    font-size: 66px;
    width: 700px;
    padding-bottom: 30px;
		    text-shadow: none;
    margin-bottom: 30px;
    border-bottom: 2px solid #ea2e27;
	}
.banner3 .banner-text p {
    font-size: 28px;
    line-height: 30px;
    width: 800px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: tahoma;
	    text-shadow: 2px 2px 2px #fff;
	}
	
.banner3 .banner-text	{
    position: relative;
    font-size: 60px;
    font-family: Tahoma;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    width: 700px;
    top: 217px;
    /* right: 300px; */
    margin-left: 550px;

	}
	
.banner3 .container {
	display: block;
    height: 930px;
    width: 1280px;
    margin: 0 auto;
}

.banner3 .banner-title {
	font-weight:bold;
	
}

.banner3 p {
	font-size:36px;
	color:#334a46;
}
	
.banner3 .banner-text input {
	margin-top: 90px;
	background:#ec3f38;
	padding: 15px 30px;
	border-radius:0;
	float: right;
	font-size: 24px;
}
	
.banner-box{
	width:1900px;
	margin:0 auto;
	height:939px;
}

.test-list {
    padding: 30px 0 40px;
	background: #fff;
}


.test-list h4 {
    font-size: 24px;
    color: #334a46;
    margin: 10px 0 40px 0;
    text-transform: none;
    text-align: center;
}

.ml-64{
	margin-left: 64px;
}
.registration-box{
	height:249px;
	width:1900px;
	margin:0 auto;
	background:#39B09C;
}
	.registration-box .registration-text{
		font-size:36px;
		color:white;
		font-family:Tahoma;
		padding-top: 43px; 
		padding-left: 8px;
	}
		.know-more-box  .btn-danger{
			background: #ec3f38;
			font-family:Tahoma;
			border-radius: 0;
			font-size: 18px;
			margin-top: 32px;
		}
		.info-box input.btn-danger
		{
			background: #ec3f38;
			font-family:Tahoma;
			border-radius: 0;
			font-size: 18px;
			margin-top: 49px;
		}
		.registration-box .registration-text input{
			background:#EC3F38;
			font-family:Tahoma;
			border-radius: 0;
			font-size: 24px;
			text-transform:uppercase;
			margin-top: 20px; 
			padding: 8px 24px; 
		}
		.registration-box .registration-text  .all-web{
			color:white;
			font-size:18px;
			font-family:Tahoma;
			text-decoration:underline;
		}
		
.about-f-box {
	margin:0 auto;
	max-width:1900px;
	text-align: center;
	background:#39B09C;
}

		.about-f-box  input{
			background:#EC3F38;
			font-family:Tahoma;
			border-radius: 0;
			font-size: 18px;
			text-transform:none;
			margin: 20px; 
		}
		
.pr-82{
	padding-right: 82px;
}
.pb-70{
	padding-bottom:70px;
}

.pb-60 {
	padding-bottom:60px;	
}
.pb-50 {
	padding-bottom:50px;	
}

.pb-40 {
	padding-bottom:40px;	
}

.pb-30 {
	padding-bottom:30px;	
}

.pb-20 {
	padding-bottom:20px;	
}
.info-box{
	height:559px;
	width:1900px;
	margin:0 auto;
}
	.info-box > .container{
		padding-top:102px;
	}
		.pl-58{
			padding-left: 58px;
		}
		.info-box > .container img.info2{
			padding-left: 26px; 
			padding-top: 3px;
		}
		.info-box > .container .title{
			font-family:Tahoma;
			color: #ff3333;
			font-family: inherit;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: -1.2px;
			margin-top: 33px; 
			padding-left: 23px;
		}
		.info-box > .container .description{
			letter-spacing: -1.4px;
			text-align: center;
			line-height: 20px;
		}
		.info2 .title{
			margin-top: 23px !important; 
			line-height: 22px !important;
		}
.school-box{
	width:1900px;
	margin: 0 auto;
	height: 1100px;
	background:url('/wp-content/themes/onikiforova/style/temp_img/bg-school.jpg') no-repeat scroll 0 67px;
}
	.school-box header{
		height:67px;
		background-color:#39b09c ;
		color:white;
		text-transform:uppercase;
		text-align:center;
		Font-size:30px;
		padding-top: 16px;
		position:relative;
	}
	.school-box .text-box{
		color:#ff3333;
		padding-top: 41px;
		line-height: 31px;
		font-size:24px;
		text-align:center;
	}
	.school-box .text-box-black{
		padding-top:33px;
		font-size:18px;
		text-align:center;
		color:#333333;
	}
	.school-box .text-box-black p{
		margin-bottom: 0px;
		font-family:Tahoma;
	}
	.school-box > .container {
		padding-left: 135px;
		padding-right: 135px;
	}
	.school-box > .container > .item{
		width:473px;
		float:left;
		background:white;
		border:1px solid #39b09c;
		
	}
		.school-box > .container > .item header{
			font-size:24px;
			text-transform: unset;
		}
		.school-box > .container > .item .name{
			color:#ff3333;
			font-size:24px;
			text-align:center;
			padding-top:20px;
			font-weight:600;
			height: 72px;
			letter-spacing: 0.8px;
		}
.pt-6{
	padding-top:6px !important;
}
.know-more-box{
	height:371px;
	background:url('/wp-content/themes/onikiforova/style/temp_img/know-bg.jpg');
	width:1900px;
	margin:0 auto;
	position:relative;
}
	.know-more-box .text{
		color:white;
		text-align:center;
		padding-top:48px;
		font-size:24px;
		font-family:Tahoma;
	}
	.know-more-box .text p{
		line-height: 23px;
		margin-bottom: 25px;
	}
		.know-more-box .text h2{
			text-transform:uppercase;
			font-size:30px;
			font-weight:600;
			margin-bottom: 25px;
		}
		.school-box > .container > .item .desc-black{
			color:#333333;
			font-size:16px;
			text-align:center;
			font-weight:600;
			letter-spacing: 0.5px;
			/*padding-top:25px;*/
		}
		.school-box > .container > .item .yt-img{
			padding: 20px 35px;
		}
		.school-box > .container > .item  a.btn-danger{
			background: #ec3f38 none repeat scroll 0 0;
			border-radius: 0;
			font-family: Tahoma;
			font-size: 18px;
			margin-top: 21px;
			margin-bottom: 46px;
		}
		.school-box > .container > .item .text-box2{
			padding: 0px 10px 20px 10px;
			text-align:center;
			font-size:16px;
			font-family:Tahoma;
		}
		.school-box > .container > .item .text-box2 p:first-child {
			margin-bottom: 15px;
			letter-spacing: 0.1px;
		}
	.school-box > .container > .item:last-child{
		margin-left: 63px;	
	}
		.school-box header .red-flag,
		.know-more-box .red-flag{
			position:absolute;
			background:url('/wp-content/themes/onikiforova/style/temp_img/red-flag.png');
			text-transform: uppercase;
			color:white;
			font-size:18px;
			padding-bottom: 35px;
			padding-top: 30px;
			width: 140px;
			top:0px;
			left:302px;
			text-align: center;
		}
		.up-case{
			text-transform:uppercase;
		}
.pt-50{
	padding-top: 50px !important;
}
.pl-20{
	padding-left: 20px;
}
.mb-9{
	margin-bottom: 9px;
}
.pt-6{
	padding-top: 6px;
}
.phone{
	font-size:30px;
	color:#39B09C;
	padding-top:53px;
	padding-left: 70px;
	font-family:'GloberBoldFree';
}
	.phone .phone1,
	.phone .phone2{
		float:left;
	}
.callback{
	padding-top: 0px; 
	padding-left: 146px;
	font-size:18px;
}
.callback a{
	color:#333333;
	text-decoration:underline;
	font-family:Myriad Pro;
}
.pl-27{
	padding-left: 27px;
}
.fs-18{
	font-size:18px;
}
	body > header nav .container .nav.navbar-nav a {
font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-family: Tahoma;
    /* padding-left: 35px; */
    text-align: center;
       width: 147px;
    padding-top: 22px;
    padding-bottom: 22px /*padding-left: 36px; padding-right: 36px;*/;
	}
	body > header nav .container .nav.navbar-nav a:hover{
	color: #fff;
    border-radius: 0px;
    background: #ec3f38;
	}
	
	.nav.navbar-nav .home{
		font-size: 26px;
		padding: 20px 24px 21px;
		color:white;
		background:#EC3F38;
	}
body > header > .container{
	height: 175px;
}
.mrl-0{
	margin-left: 0px; margin-right: 0px;
}

.mr-40 {
	margin-right:40px;
}
.prl-0{
	padding-left: 0px; padding-right: 0px;
}

.plr-15{
	padding-left: 15px; 
	padding-right: 15px;
}
.plr-30{
	padding-left:30px; 
	padding-right:30px;
}
.pb-5{
	padding-bottom: 5px;
}
.ml-5{
	margin-left: 5px;
}
.ml-m25{
	margin-left: -25px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-20{
	padding-bottom: 20px;
}
.mt-15{
	margin-top:15px;
}
.mt-10{
	margin-top:10px;
}
.ta-c{
	text-align: center;
}
.ml-10{
	margin-left: 10px;
}
.mt-30{
	margin-top: 30px;
}
.mt-45{
	margin-top: 45px;
}
.mr-d25{
	margin-right: -25px;
}
.mlr-15{
	margin-left: 15px;
	margin-right: 15px;
}
.fl-r{
	float:right;
}
.fl-l{
	float:left;
}
.mr-30{
	margin-right: -30px;
}
.mr-15{
	margin-right: -15px;
}
 .bt-0{
	 border-top: 0px !important;
 }
.pt-20{
	padding-top:20px;
}

.pt-40 {
	padding-top:40px;
}
.pt-53{
	padding-top:53px;
}

.pt-30{
	padding-top:30px;
}
.pt-35{
	padding-top:35px;
}
.pt-25{
	padding-top:25px;
} 
.mt-20{
	margin-top:20px;
	line-height:25px;
	font-family:'PT Sans', sans-serif;
}
.lh-20{
	line-height:20px;
}
.lh-18{
	line-height:18px;
}
.lh-20{
	line-height:20px;
}
.mt-0{
	margin-top:0px;
}
 .mr-d30{
	 margin-right: -30px; 
 }

 .pr-50{
	 padding-right: 50px;
 }
 .ta-r{
	 text-align:right;
 }
 .ta-c{
	 text-align:center;
 }
.pl-0{
	padding-left: 0px;
}
.pl-20{
	padding-left: 20px;
}
 .pr-0{
	 padding-right: 0px;
 }
 .pr-5{
	 padding-right: 5px;
 }
.pl-10{
	padding-left: 10px;
}
.pr-10{
	padding-right: 10px;
}
.pl-30{
	padding-left: 30px;
}
.pl-40{
	padding-left:40px;
}
.pl-60{
	padding-left:60px;
}
.grey-title{
	color:#8FA6A7;
}
.abonnent{
	width:1900px;
	margin:0 auto;
	height:89px;
	background:#EC3F38;
}

.schet_block p {
	margin-bottom:40px;
}

.schet_block a {
	color: #333;
text-decoration:underline; 
}


footer{
	margin:0 auto;
	background:#39b09c;
	padding-top:39px;
	padding-bottom:44px;
}
	footer  .navbar-nav{
    width: 650px;
		margin: 0 auto;
		float:unset;
	}
	footer .social-lables{
		width:190px;
		margin:0 auto;
		color:white;
	}
	footer  .social-lables-long{
		width:500px;
		margin:0 auto;
		color:white;
		font-size:14px;
	}
		footer  .social-lables-long a{
			color:white;
			text-decoration:underline;
		}
	footer  .navbar-nav li a {
		color:white;
		font-size:14px;
		font-family:Tahoma;
		text-transform:uppercase;
	}
	footer  .navbar-nav li a:hover{
		color:#39b09c;
	}
	.abonnent .container .text{
		font-size:30px;
		color:30px;
		font-family:Tahoma;
		color:white;	
		padding-right: 40px;
	}
	.abonnent .container  .button-form input,
	.abonnent .container  .button-form button{
		/*padding-top: 15px !important; 
		padding-bottom: 15px !important;*/
		border-style: solid;
		border-radius: 0px;
		height: 48px;
	}
	.abonnent .container  .button-form span{
		background:#39b09c;
		color:white;
		border-radius: 0px;
		border-color:#39b09c;
	}
@media (max-width: 1900px ){
	 body > .banner-box{
		 overflow:hidden;
	 } 
	 .review .hr input.green{
		 left: calc(50% - 65px);
		 margin-left:0;
	 } 
	 .abonnent .container .text{
		/* font-size: 22px;*/
	 }
	 body > header,
	 body > header nav,
	 body > .banner-box,
	/* body > .banner-box .banner,*/
	 body > .registration-box,
	 body > .info-box,
	 body > .school-box,
	 body > .know-more-box,
	 body > .aboutMe,
	 body > .review,
	 body > .clients,
	.review .hr,
	 body > .news-video,
	 body > .abonnent,
	 body > footer{
		 width:100% !important;
	 }
	 body > header .logo{
		 width:100%;
	 }
	 ..phone{
		 font-size: 20px;
	 }
	.school-box header .red-flag, 
	.know-more-box .red-flag{
		left:10px;
	}
	.review .container img{
		width:80%;
	}
	.school-box > .container{
		/*padding-left:0;
		padding-right:0;*/
		padding-left: 170px;
	}
	.school-box > .container > .item{
		width: 430px;
	}
	.school-box > .container > .item .yt-img img{
		width:100%;
	}
	.aboutMe-box{
		width:100%;
		overflow:hidden;
	
	}
 }
 @media (max-width: 1280px ){
	 body > header nav .container .nav.navbar-nav a{
		font-size: 120%;
		/*padding: 20px 10%;*/
	 } 
	 .school-box > .container{
		padding-left:0;
		padding-right:0;
	
	}
	.banner-box{
		position:relative;
	}
	.banner-box .banner{
		position:absolute;
		left:-280px;
		top:0px;
	}
	.phone{
		font-size: 22px;
	}
	body > header .container .phone .pl-27{
		padding-left:0px;
	}
	body > header .container .basket{
		font-size: 10px;
		letter-spacing: -0.2px;
	}
	body > header,
	body > header > .container{
		height:auto;
	}
	body > header > .container{
		padding-bottom: 40px;
	}
	
	.aboutMe-box{
		width:100%;
		overflow:hidden;
		position:relative;
		height:742px;
	}
	.aboutMe{
		background:rgba(0, 0, 0, 0) url("/wp-content/themes/onikiforova/style/temp_img/bg-about.jpg") no-repeat scroll 0 1% / 100% 100%;
		/*height:477px;*/
		position:absolute;
		top:0px;
		left:-310px;
		height:742px;
	}
	.abonnent .container .text{
		font-size: 24px;
	}
	.pr-82{
		padding-right:0px;
	}
	.aboutMe .container ul.big li{
		font-size: 20px;
	}
	.aboutMe .container ul.small,
	 .aboutMe .container ul.big{
		 width: 441px;
	 }
}
 @media (max-width: 1000px ){
	 
	 .container{
		 width:100%;
	 }
	.phone{
	font-size:30px;
	color:#39B09C;
	padding-top: 25px;
	padding-left: 40px;
	font-family:'GloberBoldFree';
	}
	body > header .logo{
		width:100%;
	}
	.callback{
		padding-left: 20px;
	}
	.phone .phone1,
	.phone .phone2{
		float:left;
	}
	.basket-box{
		padding-top:5px;
	}
	.banner-box,
	.banner-box .banner,
	.banner2 {
		height:477px;
		width:100%;
	}
	.banner-box .banner,
	.banner2 {
		position: unset;
	}
	.banner-box .banner{
		background: rgba(0, 0, 0, 0) url("/wp-content/themes/onikiforova/style/temp_img/banner.jpg") no-repeat scroll 0 1% / 100% 100%;
	}
	
	.banner2 {
		background: rgba(0, 0, 0, 0) url("/wp-content/themes/onikiforova/style/temp_img/banner-img-1.jpg") no-repeat scroll 0 1% / 100% 100%;
	}
	
	body > header nav .container .nav.navbar-nav a{
		font-size: 100%;
	}
	
	.banner-box .banner .banner-text,
.banner2 .banner-text {
		 color: white;
		font-size: 48px;
		left: 25px;
		line-height: 54px;
		top: 132px;
		width: 450px;
	}


	.pr-82{
		padding-right: 0px;
	}
	.info4 .title{
		margin-top: 23px !important;
	}
	.registration-box{
		padding-bottom: 20px;
		height:auto;
	}
	.school-box > .container > .item{
		width:45%;
		margin-left: 2%;
	}
	.aboutMe-box{
		width:100%;
		overflow:hidden;
		position:relative;
		height:742px;
	}
	.aboutMe{
		background:rgba(0, 0, 0, 0) url("/wp-content/themes/onikiforova/style/temp_img/bg-about.jpg") no-repeat scroll 0 1% / 100% 100%;
		/*height:477px;*/
		position:absolute;
		top:0px;
		left:-450px;
		height:742px;
	}
	.review .container img{
		margin-left: 10%;
	}
	.news-video .container .row{
		padding-left: 10px; 
		padding-right: 10px;
	}
}
 @media (max-width: 860px ){
	 body > header .logo{
		 width:100%;
	 }
	 .phone{
		 font-size: 22px;
		 padding-top:50px;
	 }
	 body > header .container .basket{
		 font-size: 8px;
	 }
	 .callback{
		 font-size: 12px;
	 }
 }
  @media (max-width: 770px ){
	  body > header nav.nav-collapse{
		  display:none;
	  }
	  .school-box > .container > .item:last-child{
		  margin-left: 1%;
	  }
	  .school-box > .container > .item{
		  width: 49%;
		  margin-left: 0%;
	  }
	  .basket-box{
		  position:absolute;
		  top:0px;
		  right:0px;
	  }
	  body > header .logo{
		  padding-top: 40px;
	  }
	  .basket-box .connect.pt-20{
		  padding-top:0px !important;
	  }
	  .basket-box{
		  padding-top: 0px;
	  }
	  body > header .container .connect .item{
		    height: 50px;
	  }
	  body > header .container .basket{
		  font-size: 12px;
	  }
	  body > header .container .basket_img{
		      padding-top: 13px;
			  padding-left: 40px;
	  }
	  .phone{
		  font-size:30px;
		  padding-left:0px;
		  padding-top: 20px;
	  }
	  .phone .phone2{
		  float:right;
	  }
	  .phone .callback{
		  text-align:center;
		  padding-top:10px;
	  }
	  body > header .container .phone .pl-27{
		  padding-left: 20px;
	  }
	  .callback a{
		  color:white;
		  background:#39b09c ;
		  padding:10px 20px;
	  }
	  
	.coll-btn{
		position: absolute;
		left: 0px;
		top: 0px;
		background: #39b09c;
		border-radius: 0px;
		margin-top: 0px;
		color: white;
		padding:15px;
	}
	
	.info-box {
		  height:auto;
	  }
	  .info-box .container{
		padding-top: 0px;
	  }
	 .info-box .container  > div{
		 height:275px;
		 text-align:center;
	 }
	 .info-box .container  > div img{
		 display:none;
	 }
	 .info-box .container  > div .ml-64{
		 margin-left:0;
	 }
  }
 @media (max-width: 600px ){
	 .phone{
		 font-size: 24px;
	 }
 }
  @media (max-width:500px ){
	 .phone{
		 font-size: 24px;
		 text-align: center;
	 }
	 .phone .phone1, 
	 .phone .phone2{
		float:unset; 
	 }
 }
  @media (max-width:380px ){
	   
 }
 #menu1{
	position: absolute;
    background: #39b09c;
    z-index: 999;
    width: 50%;
    color: white; 
	padding-right:40px;
	padding-top:40px;
	padding-bottom:20px;
 }
 #menu1 .close{
	 position:absolute;
	 top:5px;
	 right:5px;
	 height:20px;
	 width:20px;
	 background:url("/wp-content/themes/onikiforova/style/temp_img/close.png");
 }
	#menu1 ul li{
		border-bottom: 1px solid #25ccb2;
	}
	#menu1 ul li:hover{
		background:#25ccb2;
	}
		#menu1 ul li a{
			color: white;
		}
		
		
/* main menu styles */
.menu1 {
    background-color:#d0e6f5;
    text-align:center;
    width:100%;
}
.menu1 > span {
    display:inline-block;
    margin:0 auto;
}
.navbar-nav {
    position:relative;
    list-style-type:none;
}
.navbar-nav > li {
    float:left;
    padding:0;
    position:relative;
}
.navbar-nav > li > a {
    border:1px solid transparent;
    color:#4F4F4F;
    display:block;
    font-size:90%;
    padding:3px 10px;
    position:relative;
    text-decoration:none;
}
.navbar-nav > li > a:hover {
    background-color:#e4ecf4;
}
.navbar-nav > li.selected  > a {
    background-color:#ec3f38;
    z-index:2;
}
.navbar-nav li div {
    position:relative;
}
.navbar-nav li div div {
    display:none;
    font-size:0.75em;
    margin:0;
    position:absolute;
    top:-1px;
    z-index:1;
    width:190px;
}
.navbar-nav li div div.wrp2 {
    width: 780px;
    background: #39b09c;
    font-size: 16px;
}

.navbar-nav li div ul {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 350px;
    float: left;
    list-style-type: none;
}
.navbar-nav li div ul li {
    margin:0;
    padding:0;
}

.navbar-nav li ul ul {
   margin: 10px 0 10px 47px;
}
.navbar-nav li ul ul li {
    margin:0;
    padding:0;
}

.wrp2 {
	padding:15px;
	border:1px solid #25ccb2;
}


.wrp2 a#title-menu {
    font-size: 18px;
    color: #fff;
	text-transform:none !important;
    padding: 9px 10px;
}

.wrp2 a#title-menu:hover {
    background: #ec3f38;
	    text-decoration:none;
}

.wrp2 ul li ul li a {
	font-size:16px !important;
    display: block;
    margin-bottom: 1px;
    width: auto !important;
    text-align: left !important;
    line-height: 24px;
    padding: 0 !important;
    text-transform: none !important;
    text-decoration:none;
}
.wrp2 ul li ul li a:hover{
    color:#fff !important;
	background:none !important;
	text-decoration:underline !important;
}


/* HEADERSCROLL */
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #f6f6f6;
	z-index: 10000;
	height: 230px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 230px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		z-index:999999;
		}
	
	.reveal-modal {
    visibility: hidden;
    top: 100px;
    left: 50%;
	text-align:center;
    margin-left: -300px;
    width: 510px;
    background: #fff;
    position: absolute;
    z-index: 101;
    padding: 5px 20px 20px 20px;
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	
	
	.reveal-modal .close-reveal-modal {
    font-size: 60px;
    line-height: .5;
    font-family: Times New Roman;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ef5c56;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: 100;
    cursor: pointer
		} 
	
	#myModal-1, #myModal-2 {
		z-index:9999999;
		
	}
	
	#myModal-2 {
		width:960px;
		max-height:550px;
		overflow:hidden;
		left: 40%;
		overflow: auto;
		text-align:left;
	}
	
	#myModal-1 input, #myModal-2 input {
	border: 1px solid #39b09c;
    margin-bottom: 10px;
    padding: 11px;
    width: 405px;
    margin: 10px auto;
    display: block;
	}
	
	#myModal-1 h3, #myModal-2 h3 {
		color:#3a9f8f;	
		font-size:24px;
		margin-bottom: 33px;
	}
	
	a.close-reveal-modal:hover {
		text-decoration:none;		
	}
	
	#myModal-1 a.button, #myModal-2 a.button  {
		background: #39b09c;
		color: #fff;
		font-size: 18px;
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 10px;
		width: 149px;
		text-align: center;
		text-decoration: none;
		padding: 10px 30px;
	}

.box-cases {
	margin-bottom:60px;
}	

.item-cases {
border: 1px solid #39b09c;
text-align: center;
    margin: 15px;
    width: 285px;
}

.item-cases p{
background:#39b09c;
padding:5px;
text-align:left;
color:#fff;
margin:0;
height:75px;
}
	
.about h2 {
	color:#fb0107;
	font-size:24px;
	text-transform:uppercase;
	margin:65px 0;
}
	
.about h3 {
	color:#3a9f8f;
	font-size:24px;
	margin-top: 0px;
    margin-bottom: 11px;
}

.about .about-text p{
	color:#334a46;
	font-size:16px;
	
}

#hWrapper-sertifikat {
	margin-bottom:45px;
    height: 295px;
}

#carouselh2 .jscarousal-contents-horizontal {
	padding-top: 20px;
    height: 295px;
}

#carouselh2 .jscarousal-contents-horizontal > div > div {
    margin-left: 3px;
    margin-right: 3px;	
	
}

#carouselh2 .jscarousal-horizontal-forward, #carouselh2 .jscarousal-horizontal-back{
	top:125px; 
}

.about-box {
	height: 371px;
    margin: 0 auto;
    position: relative;
}

.about-box header {
background: #f3f3f3;
    padding: 8px 0;
    clear: both;
    display: block;
	    margin-bottom: 85px;
 }
 
.about-box header div {
	    width: 1280px;
    margin: 0 auto;
}

.about-box header img {
float: left;
    margin-top: -50px;
    margin-right: 10px;
	
	
    left: 302px;
    text-align: center;
}

.about-box h2 {
			color:#ff2e27;
			font-size:20px;
			text-transform:uppercase;
		}

.about-box .text-box {
	color:#334a46;
	font-size:16px;
    margin: 0 auto;	
}

.box-info-2 {
	height:720px;
	
}

.dwld-case {
background: url("/wp-content/themes/onikiforova/style/temp_img/price-icon.jpg") left center no-repeat;
    padding-left: 45px;
    height: 60px;
    color: #ff2e27;
    height: 45px;
    display: block;
    font-weight: bold;
	    margin: 40px 0;
}

.dwld-case-green {
background: url("/wp-content/themes/onikiforova/style/temp_img/price-icon2.png") left center no-repeat;
    padding-left: 45px;
    height: 60px;
    color: #3a9f8f;
	font-size:14px;
    height: 45px;
    display: block;
    font-weight: bold;
	width: 240px;
    margin: 0 auto;
}

.clients .read-more, .about-box .read-more{
text-align: left;
    display: block;
    font-family: tahoma;
    text-decoration: underline;
    width: 1280px;
    color: #3a9f8f;
    margin: 0 auto;
}

.col-xs-9 h3 {
	margin-bottom: 10px !important;	
}

.about-me h3 {
	margin-bottom: 30px;
}
 
#podpiska-info h3{
	color:#ea2e27;
		font-weight:bold;

	text-transform:uppercase;
}

#podpiska-info h4{
	color:#ea2e27;
	text-transform:uppercase;
}

.podpiska-info-text {
	position:absolute;
	text-align:center;
} 


.podpiska1 {
	text-align:left;
	padding:40px;
	width:740px;
}

.podpiska1 h3, .podpiska2 h3, .podpiska3 h3 {
	margin:0;
}

.podpiska1 h3 {
	margin:0;
		font-size:56px;
}

.podpiska2 h3 {
	font-size:30px;
	margin:10px 0;
}

.podpiska3 h3 {
	font-size:36px;
	font-weight:bold;
}

#podpiska-info .btn-danger {
    background: #ec3f38;
    border: none;
    padding: 13px 23px;
    font-size: 24px;
    border-radius: 0;
}
.podpiska1 p {
	color:#fff;
	margin:10px 0;
	font-weight:bold;
	font-size:36px;
}

.podpiska2, .podpiska3 {
	padding:30px;
	margin: 0 auto;
    width: 620px;
}

.podpiska2 p, .podpiska3 p {
	color:#fff;
	font-size:16px;
}


.form-modal input {
	border: 1px solid #39b09c;
    margin-bottom: 10px;
    padding: 11px;
    width: 405px;
    margin: 10px 0;
    display: block;
	}
	
	.form-modal h3 {
		color:#3a9f8f;	
		font-size:24px;
		margin-bottom: 33px;
	}
	
	a.close-reveal-modal:hover {
		text-decoration:none;		
	}
	
	.form-modal a.button, .comments_list a.button{
		background: #39b09c;
		color: #fff;
		font-size: 18px;
		display: block;
		margin-top: 30px;
		margin-bottom: 10px;
		width: 149px;
		text-align: center;
		text-decoration: none;
		padding: 6px 30px;
	}

	.comment-input a.button {
    background: #39b09c;
    color: #fff;
    font-size: 16px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 166px;
    text-align: center;
    height: 36px;
    text-decoration: none;
    padding: 6px 10px;

	}
	
.couch-box {
	height: auto;
	clear:both;
    margin: 0 auto;
    position: relative;
}


.couch {
	width:321px;
}
.couch-zn {
    position: absolute;
    padding: 10px 5px;
    font-size: 14px;
    width: 321px;
    text-align: center;
    display: block;
    color: #fff;
}

.couch-zn p {
	margin:0;
}

.couch-zn-time {
	font-size: 24px;
    color: #fff;
    background: #39b09c;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.pagination {
    clear: both;
    display: block;
    width: 100%;
    height: 80px;
    padding-bottom: 40px;
    margin: 0 auto;
	}
.pagination ul {text-align: center;font-size:14px;}
.pagination ul li { display: inline-block;
    /* margin: 0 1px; */
    vertical-align: middle;
    line-height: 12px;
    padding: 3px;
}
.pagination ul li a {color: #fff;background:#39b09c;padding: 7px 12px;} 
.pagination ul li a:hover {color: #fff;background:#b4b4b4;}
.pagination ul li.active a {color: #fff;background:#b4b4b4;font-weight: bold;}
.pagination ul li.active a:hover {color: #fff;background:#39b09c;} 

.otziv-block {

	background:#39b09c;
}

.otziv-block .col-xs-5 {
	color:#fff;
}

.otziv-block h3 {
	color:#fff;
}

.otziv-block a.button {
	float:left;
	background:#ec3f38;
margin:10px 20px 10px 0;
}

.button-upload {
	background:#c3ded9;
padding:10px 20px;
color:#334a46;
	
}

.text-center {
	text-align:center;
}
.otziv-block span {
    color: #fff;
    display: block;
    width: 250px;
    margin-top: 15px;
    margin-left: 150px;
    font-size: 13px;
}

.uslugi-box {
	margin-bottom:40px;
	    margin: 0 auto;
    position: relative;
	    display: block;
    height: auto;
}

.uslugi-box img {
    margin-bottom: 10px;	
}

.uslugi-box a{
    color: #3a9f8f;
    display: block;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.uslugi-box .col-xs-2 {
}

.uslugi-box .text-box{
	clear:both;
	padding-top:40px;
}


.mini-menu{
    margin: 0px auto;
    max-width: 250px;
       margin-bottom: 50px;
    overflow: hidden;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul > li {
    position: relative;
    border-top: 1px solid #fff;
}

.menu-item {
	position: relative;
    border-left: 7px solid #ec3f38;
    padding-left: 5px;
    border-top: 1px solid #fff;
}


.mini-menu > ul > li > a {
	display: block;
    outline: 0;
    padding: 15px 0px 15px 20px;
    text-decoration: none;
    color: #ec3f38;
    font-size: 16px;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    /* border-bottom: 1px solid #fff; */
    background: #f3f3f3;
}
.mini-menu > ul > li > a:hover,
.mini-menu > ul > li > a.active {
    color: #334a46;
}
.mini-menu .sub > ul {
    counter-reset: items;
    height: 0;
    overflow: hidden;
    background: #eee;
    -webkit-box-shadow:inset 0 0 50px #bbb;
    -moz-box-shadow:inset 0 0 50px #bbb;
    box-shadow:inset 0 0 50px #bbb;
}
.mini-menu .sub > ul > li > a {
    color: #334a46;
    padding: 15px;
    font-size: 16px;
    display: block;
	    padding-left: 30px;
    text-decoration: none;
    background: #ebebeb;
	    border-bottom: 1px solid #d7d7d7;
}

.mini-menu > ul > li > ul > li {
	background:#ddd;
}

.mini-menu .sub > ul > li > a:hover,
.mini-menu .sub > ul > li > a.active {
    background: #e1e1e1;
    border-bottom: 1px solid #d7d7d7;
    padding-left: 30px;
}
.mini-menu .sub > ul > li > a:after{
    float: left;
    margin-right:6px;
    line-height: 12px;
}


.content {
	width:960px;
	margin-right:50px;
}

.siderbar {
	width:250px;
}

.content h2 {
color:#3a9f8f;
font-size:24px;
}

.stati-list {
	color:#7a7e7d;
	font-size:14px;
	border-bottom:1px solid #cccccc;
	margin-bottom:40px;
}

.stati-list h2 {
margin-top:0px;
}

.stati-list span {
	padding-right:10px;
}

.stati-list p {
	color:#334a46;
	font-size:16px;
}

.stat-info, .stat-info a, #statistic a {
    color: #7a7e7d;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.stat-info a, #statistic a {
	text-decoration:underline;
}

.stat-info a:hover, #statistic a:hover {
	color:#fb0107;
}

.stati-list img, .stati-list iframe {
	margin:30px 0;
}

a.stat-on {
	color:#fb0107;
	text-decoration:underline;
}

.content .pagination ul  {
    font-size: 14px;
    width: 400px;
    padding: 0;
	text-align:left;
	}
	
.button {
    background: #ec3f38;
    color: #fff;
    border: 0;
    width: 225px;
	    margin-top: 10px;
    height: 40px;
}

.banner {
    text-align: center;
    background: #f3f3f3;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.banner img {
	margin-bottom:15px;
}

.banner h3 {
	font-size:18px;
	padding: 7px;
	font-weight:bold;
	background:#39b09c;
	color:#fff;
}

.form-controll {
    display: block;
    width: 225px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    /* height: 36px; */
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

#comments {
	display: table;
    background: #f5f5f5;
/*     width: 960px; */
    /* min-height: 100px; */
    padding: 10px;
    clear: both;
    margin-bottom: 10px;
}

.comments_list .name {
	font-size:16px;
	font-weight:bold;
	color:#334a46;
}

.comments_list .date {
	font-size:14px;
	color:#7a7e7d;
}

.comment-block h2 {
	margin-bottom:50px;
}

.comments_list .commen {
	color:#334a46;
}

.comments_list a {
	 color:#7a7e7d;
	 font-size:14px;
 }

.comment-img {
	width:110px;
	margin-right:10px;
}

.comments_list_and {
    margin-left: 110px;
    padding-top: 10px;
    border-top: 1px solid #c2c2c2;	
}

.mb-10 {
	margin-bottom:10px;
}

.comment-upload {
    width: 815px;
    height: 34px;
    margin-top: -6px;
    margin-bottom: 15px;
    padding: 3px 5px;
    background: #ebebeb;
    border: 1px solid #c2c2c2;	
}


.comment-upload a {
	font-size:14px;
	background:url("/wp-content/themes/onikiforova/style/temp_img/icupld.jpg") no-repeat;
	padding-left:25px;
	color:#7a7e7d;
	text-decoration:underline;
}


.table-cart table{
	border-collapse: collapse;
    border-spacing: 0;
	color:#334a46;
	font-size:16px;
	margin-bottom: 40px;
}

.table-cart tr{
	
}

.table-cart th{
	padding: 20px 11px;
    border: 1px solid #9b9b9b;
	    text-align: center;
	background:#ebebeb;
}

.table-cart td{
	padding: 30px 20px;
    border: 1px solid #9b9b9b;
	font-size:24px;
	text-align:center;
}

.table-cart td.name {
	width:605px;
	text-align:left;
}

.table-cart td.price {
	font-weight: bold;
	width: 193px;
	text-align:center;
}

.table-cart td a{
	color:#fb0107;
	text-decoration:underline;
}

.total-row {
    font-size: 24px;
    color: #3a9f8f;
	    margin-left: 20px;
}

.total-row #total {
	font-weight: bold;
    margin-left: 75px;
    color: #334a46;
}

.btn-cart {
background: #ec3f38;
    border: none;
    margin-left: 130px;
    margin-top: 40px;
    color: #fff;
    padding: 13px 36px;
    font-size: 16px;
    border-radius: 0;
}

.back-cart {
	margin: 65px 0;
    display: block;
    float: right;
    font-size: 18px;
    color: #3a9f8f;
    margin-right: 30px;
    font-weight: normal;
    text-decoration: underline;
}

.table-cart h3, .cart-info h3 {
	color: #3a9f8f;
    font-size: 24px;
    margin-bottom: 22px;
}

.table-cart table#checkout td {
	font-size: 16px;
}

.cart-info {
	clear:both;
}

.table-cart td.total, .table-cart td.total-price {
	background:#ebebeb;
	font-weight:bold;
	padding:10px;
	    font-size: 16px;
}

.table-cart td.total {
	border-right:0;	
	text-align:left;
	    padding-left: 70px;
	    font-size: 16px;
}

.table-cart td.total-price {
	border-left:0;	
	    font-size: 16px;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
}

input[type=radio] {
	display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 1px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
}

.radio label:before {
	border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #656565;
    font-size: 30px;
    text-align: center;
    line-height: 12px;
}

input[type=checkbox] {
	display: none;
}

.checkbox label:before {
	border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: #000000;
    text-align: center;
    line-height: 15px;
}

.mr-0 {
	margin-left:0;
}

.payment-row {
	background:#ebebeb;
	width: 690px;
	height:230px;
	padding:15px;
}

.payment-row p {
	font-weight:bold;
}

.payment-row input {
    border: 1px solid #9c9c9c;
    padding: 10px;
    margin-bottom: 5px;
}

.payment-row input placeholder {
	font-size:16px;
}

::-webkit-input-placeholder {color:#334a46;}
::-moz-placeholder          {color:#334a46;}/* Firefox 19+ */
:-moz-placeholder           {color:#334a46;}/* Firefox 18- */
:-ms-input-placeholder      {color:#334a46;}

.checkbox label{
	font-weight:bold;
}
.checkbox a {
	color:#ff0000;
	text-decoration:underline;
}

.stati-info {
	    margin-bottom: 40px;
}

.stati-info h3 {
	font-size:24px;
	padding: 10px 0;
	color:#fb0107;
}

.stati-info li {
    color: #334a46;
    font-size: 16px;
    padding-left: 40px;
    line-height: 20px;
    list-style-type: none;
}

.box-green {
	background:#39b09c;
    margin: 0 auto;
	    max-width: 1900px;
}

.green:hover {
	    border-color: #288b7a !important;
    background: #288b7a !important;
}

.box-green p, .box-red p {
	color:#fff;
	font-size:24px;
	text-align:center;
	margin:0px 0px 5px 0;
}

.box-red {
		padding:20px 0;
	background:#ec3f38;
	 margin: 0 auto;
	     max-width: 1900px;
}

#radial-red, #radial-green {
    background: #ec3f38;
    width: 50px;
    height: 50px;
    padding: 8px;
    display: block;
    color: #fff;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    border-radius: 50px;
}

#radial-green {
	background:#39b09c;
}

.business-list2 {
	background:url("/wp-content/themes/onikiforova/style/temp_img/backmedi.png") center center no-repeat;
	padding-top: 35px;
    padding-bottom: 0px;
	border-bottom: 1px dashed #47b6a3;
}

.business-list .item {
    min-height: 70px;
	margin-bottom:30px;
}

.business-list2 .item p {
	margin-bottom:20px;
}


.business-list h3, .business-list h3{
	margin-bottom: 5px;
}

.info-box2 {

	padding:40px 0;
}


.info-box3 {
    padding: 60px 0;	
}

.info-boxer {
 	padding:40px 0;
	clear: both;
}

.info-boxer  div.item-block{
	min-height:200px;
}

.box-3 {
	padding:60px 0;
}

.box-3 div {
	float:left;
}

.box-3 span {
    color: #fb0107;
    font-size: 24px;
    line-height: 20px;

}

.box-3-text {
	width:670px;
	background:url('/wp-content/themes/onikiforova/style/temp_img/strelka.jpg') center right no-repeat;
	padding-right:60px;
	margin-right:20px;
}

.info-box2 .description  {
		text-align:center;
}

.box-4 {
	background:#39b09c;
	padding-bottom: 50px;
}

.box-4 h3 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    padding: 50px 0 40px 0;
    text-transform: uppercase;
}

.box-text-info {
    width: 1160px;
	color:#334a46;
    height: 480px;
    padding: 25px 20px;
    margin: 0 auto;
    background: #fff;
}

.box-text-info img {
	float:left;
}

.box-text-info .title-name {
	    color: #3a9f8f;
    font-size: 24px;
	text-transform:uppercase;
    font-weight: bold;
	margin-top:40px;
}

.box-text-info div {
	    text-align: left;
    margin-left: 310px;
}

.box-text-info ul {
	padding:0;
	margin-top:40px;
}

.box-text-info li {
	font-size:18px;
	line-height: 30px;
	list-style-type:none;
}

.box-4 {
	
}

.job-box {
	background:url('/wp-content/themes/onikiforova/style/temp_img/bg-school.jpg') no-repeat scroll 0px;
	height:1033px;
}

.job-box .item {
	width:475px !important;
}

.job-box > .container {
    padding-left: 130px;
    padding-right: 130px;
}

.job-box .text-box-black {
margin-bottom: 30px;
    margin-top: 0px;
}

.job-box li {
    font-size: 24px;
    list-style: url('/wp-content/themes/onikiforova/style/temp_img/ok.png');
}
.job-box header {
	height:80px;
	    padding-top: 5px;
}

.job-box .text-box2 p {
color:#334a46;
font-size:16px;
text-align:left;	

}

.pr-20 {
	padding-right:20px;
}

.job-box > .container > .item a.btn-danger {
	    padding: 5px 30px;
}



.text-left .description{
	text-align:left;
}

.pr-62 {
	padding-right:62px;
}

 .spoiler_body {display:none;}
 .spoiler_links {cursor:pointer;}

 h4 {
	 font-size:18px;
	 color:#ff2e27;
	 text-transform:uppercase;
 }

.otziv-h4 {
    position: relative;
    overflow: hidden;
	color:#3a9f8f;	
	font-size:24px;
    font-weight: normal;
    text-align: center;
	margin-bottom:50px;
  }
.otziv-h4 > span {
    display: inline-block;
    margin: 0 .4em;
  }
.otziv-h4 > span:before,
.otziv-h4 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px dashed #39b09c;
    margin-top: .6em;
  }
.otziv-h4 > span:before {
    margin-left: -103%;
  }
.otziv-h4 > span:after {
    margin-left: 3%;
  }

.btn-white {
	background:#fff;
	border:0;
	color:#ff2e27;
	font-size:24px;
	    padding: 8px 20px;
	border-radius:0;
}
